body{
    font-family: Cera Pro;
    text-align: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.image{
    height: 46px;
    margin-top: 21px;
    margin-bottom: 10px;
}

.image2{
    margin-top: 35px;
    height: 30px;
}

.tool{
    height: 136.01539611816406px;
    width: 136.01539611816406px;
    border-radius: 7.556408405303955px;
    background: #F7F8FC;
}

button{
    background: #77BCFE;
}

.info{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 670px;
    background: #F7F8FC;
    border-radius: 15px;
}

.icons{
    display: flex;
}

.following{
    text-align: left;
    max-width: 430px;
}

.maintex{
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    color: #405169;

}

.paragraph{
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
}

.icon h1{
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    margin: 15px 0;
}



.icon{
    text-align: left;
    height: 195px;
    width: 310px;
    border-radius: 15px;
    padding: 20px;
    background-color: #fff;
    margin: 5px;
}

.icon p{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #7F8A95;
}


.display{
    display: flex;
    justify-content: right;
    background: #F5FAFF;
    border-radius: 15px;
    margin: 15px 0;
    height: 325px;
    align-items: center;
    background-image: url(./images/Group\ 2117.png), url(./images/Group\ 2118.png), url(./images/Frame\ 90.png);
    background-position: right bottom, left top, left center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 20%, 16%, 40%;
}


.know{
    text-align: left;
    width: 350px;
    margin-right: 10em;
}

.know h1{
    font-size: 40px;
    font-weight: 400;
    line-height: 44px;
}

.know p{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.follow{
    margin-top: 20px;
}

.select h1{
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    margin: 20px;
}

.level{
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
}

.cost{
    font-size: 50px;
    font-weight: 500;
    line-height: 38px;
    margin: 10px 0;
}

.month{
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin: 10px 0;
}

ul li{
    margin: 5px 0;
}

ul{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.tarify{
    display: flex;
    justify-content: center;
}

.tarif{
    width: 350px;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
    padding: 0 10px;
    margin: 0 15px;
    height: 615px;
}

.us{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

footer{
background: #F3F4F9;

}

.foot{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    text-align: left;
    height: 350px;
    align-items: center;
}

.left{
    text-align: left;
    max-width: 400px;
}
.right{
    width: 600px;
}

.left p{
    max-width: 260px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin: 5px;
    margin-bottom: 100px;
}

.inf{
    max-width: 165px;
    margin: 5px;
}

.inf1{
    max-width: 210px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin: 10px;

}

.span{
    text-align: right;
    color:#7F8A95;

}

.logo{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color:#7F8A95;
    margin: 10px;

}

li{ 
    list-style: none;
}

ul li:before {
    content: '✓'; 
}

.tarif button{
    background: #F7F8FC;
    color: black;
}